@font-face {
	 font-family: Object-Sans;
	 font-display: swap;
	 src: url("../fonts/Object Sans Regular.woff2") format("woff2"), url("../fonts/Object Sans Regular.woff") format("woff");
	 font-weight: 400;
	 font-style: normal;
 }
