footer.footer
  .footer__container.container
    .footer__top
      img.footer__logo(src="@img/footer/logo.png", alt="Hidden Refunds Logo")
      .footer__sentence
        span.footer__sentence-text Ready to get started?
        a.footer__sentence-link.btn.btn_transparent-white.btn_short(href="#") Qualify Now!
    hr.footer__first-line
    .footer__center
      span.footer__discount Get your rebate. You deserve it!
      .footer__info
        span.footer__info-title Where To Find Us:
        span.footer__info-text Irvine, CA
      .footer__info
        span.footer__info-title Contact Us:
        a.footer__info-text(href="mailto:hello@innovationrefunds.com") hello@innovationrefunds.com 
        a.footer__info-text(href="tel:+18556531083") (855) 653-1083
        address.footer__info-text 
        |9600 Great Hills Trail, #100E 
        br
        |Austin, TX 78759
    .footer__bottom
      a.footer__link(href="#") Terms & Conditions
      a.footer__link(href="#") Privacy Policy
    hr