.modal 
  .modal__content 
    h2.modal__title Ready to get started?
    form.modal__form
      label.modal__label       
        .modal__text Your name
        input.modal__input(type="text" required)
      label.modal__label         
        .modal__text Your phone number
        input.modal__input(type="tel" required)
      label.modal__label         
        .modal__text Your email
        input.modal__input(type="email" required)
      button.modal__btn.btn.btn_white(type="submit") GET STARTED