@import 'partials/variables';

// Reset

.choices__inner, 
.choices,
.choices__list--dropdown .choices__item,
.choices__input {
  font-size: inherit;
}
.choices__list--single,
.choices[data-type*=select-one] .choices__inner,
.choices__list--dropdown .choices__item--selectable {
  padding: 0;
}

.choices__list--dropdown {
  border: none;
}

.choices__list--dropdown .choices__list {
  max-height: none;
}

// Styles

.choices__list--dropdown {
  border: 1px solid rgba($black, .5);
}

.choices__inner {
  padding: 14px 10px !important;
  padding-bottom: 16px !important;
  background: transparent;
  border-radius: 0;
  border: 1px solid rgba($black, .5);
}

.choices__item.choices__item--choice  {
  padding: 16px 10px;
}

.is-selected,
.choices__item.choices__item--choice.choices__placeholder  {
  display: none;
}

.choices__list--dropdown .choices__list {
  max-height: 150px;
}