include html/opening.pug
    include html/modal.pug
    main.leadingform
      .leadingform__btn-wrap
        button#open-modal.leadingform__btn.btn.btn_blue.btn_long(type="button") Learn More
      .leadingform__container.container
        h1.leadingform__main-title Tax Refund Credit Application
        ol.leadingform__step
          li.leadingform__step-item.leadingform__step-item_active
            span.leadingform__step-number 1
            div.leadingform__step-text Getting Started
          li.leadingform__step-item
            span.leadingform__step-number 2
            div.leadingform__step-text Company Info
          li.leadingform__step-item
            span.leadingform__step-number 3
            div.leadingform__step-text Taxes & Payroll
        .leadingform__content
          h2.leadingform__content-title Step 1 of 3 – Getting Started
          .leadingform__content-container.container
            p.leadingform__content-desc Let's get started. We just need a few details from you. Your information is kept confidential according to CPA standards and is needed to determine if you qualify for these substantial tax rebates and government incentives.
            .leadingform__form-wrap
              form.leadingform__form(action="") 
                label.leadingform__label 
                  .leadingform__label-text First Name
                    span.leadingform__explanation *
                  input.leadingform__input(type="text" required name="name")
                label.leadingform__label 
                  .leadingform__label-text Last name
                    span.leadingform__explanation *
                  input.leadingform__input(type="text" required name="surname")
                label.leadingform__label.leadingform__label_long 
                  .leadingform__label-text Email
                    span.leadingform__explanation *
                  input.leadingform__input(type="email" required name="email") 
                label.leadingform__label 
                  .leadingform__label-text Phone number
                    span.leadingform__explanation *
                  input.leadingform__input(type="tel" required name="tel")
                label.leadingform__label 
                  .leadingform__label-text Extension
                  input.leadingform__input(type="text" required name="extension")
                label.leadingform__label.leadingform__label_long 
                  .leadingform__label-text What is your role or job title?
                    span.leadingform__explanation *
                  input.leadingform__input(type="text" required name="jobPosition")
                label.leadingform__label.leadingform__label_long 
                  .leadingform__label-text How did you hear about us?*
                    span.leadingform__explanation *
                  select.leadingform__select(name="Lorem") 
                    option(value="") Please select 
                    option(value="Lorem1") Lorem ipsum1
                    option(value="Lorem2") Lorem ipsum2
                    option(value="Lorem3") Lorem ipsum3
                    option(value="Lorem4") Lorem ipsum4
                    option(value="Lorem5") Lorem ipsum5
              button.leadingform__link.btn.btn_blue.btn_long(type="submit" onclick="document.location='./leadingform-info.html'") Next Step
              
    include html/footer.pug
    include html/ending.pug