include html/opening.pug
    include html/modal.pug
    main.leadingform
      .leadingform__btn-wrap
        button#open-modal.leadingform__btn.btn.btn_blue.btn_long(type="button") Learn More
      .leadingform__container.container
        h1.leadingform__main-title Tax Refund Credit Application
        ol.leadingform__step
          li.leadingform__step-item
            span.leadingform__step-number 1
            div.leadingform__step-text Getting Started
          li.leadingform__step-item
            span.leadingform__step-number 2
            div.leadingform__step-text Company Info
          li.leadingform__step-item.leadingform__step-item_active
            span.leadingform__step-number 3
            div.leadingform__step-text Taxes & Payroll
        .leadingform__content
          h2.leadingform__content-title Step 3 of 3 – Taxes & Payroll
          .leadingform__content-container.container
            .leadingform__form-wrap
              form.leadingform__form(action="") 
                .leadingform__radio-wrap
                  .leadingform__radio-question What do you usually pay in annual taxes?
                    span.leadingform__explanation *
                  label.leadingform__label.leadingform__label_radio
                    input.leadingform__radio.visually-hidden(type="radio" name="payAnnualTaxes" value="less-25k" checked)
                    .leadingform__label-text.leadingform__label-text_radio Less than $25K
                  label.leadingform__label.leadingform__label_radio
                    input.leadingform__radio.visually-hidden(type="radio" name="payAnnualTaxes" value="25k-100k")
                    .leadingform__label-text.leadingform__label-text_radio $25K - 100K
                  label.leadingform__label.leadingform__label_radio
                    input.leadingform__radio.visually-hidden(type="radio" name="payAnnualTaxes" value="over-100k")
                    .leadingform__label-text.leadingform__label-text_radio $100K +
                label.leadingform__label.leadingform__label_long
                  .leadingform__label-text Average number of W2 employees on payroll for 2019
                    span.leadingform__explanation *
                  input.leadingform__input(type="number" name="employees2019")
                label.leadingform__label.leadingform__label_long
                  .leadingform__label-text Average number of W2 employees on payroll for 2020
                    span.leadingform__explanation *
                  input.leadingform__input(type="number" name="employees2020")
                label.leadingform__label.leadingform__label_long
                  .leadingform__label-text Average number of W2 employees on payroll for 2021*
                    span.leadingform__explanation *
                  input.leadingform__input(type="number" required name="employees2021")
                .leadingform__radio-wrap
                  .leadingform__radio-question Does your company or its partners have 80% or more ownership in any other businesses?
                      span.leadingform__explanation *
                  label.leadingform__label.leadingform__label_radio
                    input.leadingform__radio.visually-hidden(type="radio" name="participationShare" value="true")
                    .leadingform__label-text.leadingform__label-text_radio Yes
                  label.leadingform__label.leadingform__label_radio
                    input.leadingform__radio.visually-hidden(type="radio" name="participationShare" value="false" checked)
                    .leadingform__label-text.leadingform__label-text_radio No
                .leadingform__radio-wrap
                  .leadingform__radio-question Have you qualified for and claimed any federal government incentives or tax credits within the past three years?
                      span.leadingform__explanation *
                  label.leadingform__label.leadingform__label_radio
                    input.leadingform__radio.visually-hidden(type="radio" name="privileges" value="true")
                    .leadingform__label-text.leadingform__label-text_radio Yes
                  label.leadingform__label.leadingform__label_radio
                    input.leadingform__radio.visually-hidden(type="radio" name="privileges" value="false" checked)
                    .leadingform__label-text.leadingform__label-text_radio No
                .leadingform__radio-wrap
                  .leadingform__radio-question At any point in time during 2020 or 2021 did you utilize a PEO (professional employer organization) as your payroll provider?
                      span.leadingform__explanation *
                  label.leadingform__label.leadingform__label_radio
                    input.leadingform__radio.visually-hidden(type="radio" name="PEO" value="true")
                    .leadingform__label-text.leadingform__label-text_radio Yes
                  label.leadingform__label.leadingform__label_radio
                    input.leadingform__radio.visually-hidden(type="radio" name="PEO" value="false" checked)
                    .leadingform__label-text.leadingform__label-text_radio No
                .leadingform__radio-wrap
                  .leadingform__radio-question Pertaining to the partners in your company, other than their spouse, are there any immeditate family members (i.e children, siblings, parents) on payroll?
                      span.leadingform__explanation *
                  label.leadingform__label.leadingform__label_radio
                    input.leadingform__radio.visually-hidden(type="radio" name="familyMembers" value="true")
                    .leadingform__label-text.leadingform__label-text_radio Yes
                  label.leadingform__label.leadingform__label_radio
                    input.leadingform__radio.visually-hidden(type="radio" name="familyMembers" value="false" checked)
                    .leadingform__label-text.leadingform__label-text_radio No
              button.leadingform__link.btn.btn_blue.btn_long(type="submit") Submit
              
    include html/footer.pug
    include html/ending.pug